fastapi==0.109.2
uvicorn[standard]==0.27.1
python-multipart==0.0.9
pydantic==2.6.1
pydantic-settings==2.2.1
sqlalchemy==2.0.27
pymysql==1.1.0
cryptography==42.0.2
milvus-lite==2.4.3
transformers==4.39.1
torch==2.2.1
sentence-transformers==2.5.1
clip-anytorch==0.0.7
qwen-vl-utils==0.0.2
psycopg2-binary==2.9.9
kafka-python==2.0.2
httpx==0.27.0
aiofiles==23.2.1
loguru==0.7.2
python-dotenv==1.0.1